@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Scrollbar for #chatbox */
#chatbox::-webkit-scrollbar {
  width: 3px;
}

#chatbox::-webkit-scrollbar-track {
  background: #111;
}

#chatbox::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 2px;
}

#chatbox::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Scrollbar for #preference */
#preference::-webkit-scrollbar {
  width: 3px;
}

#preference::-webkit-scrollbar-track {
  background: #111;
}

#preference::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 2px;
}

#preference::-webkit-scrollbar-thumb:hover {
  background: #444;
}
